@charset "utf-8";

/* ------------------------------------------------------------
general styling
------------------------------------------------------------ */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
main {
    width: 100%;
    height: 100vh;
    min-width: 410px;
}

body {
    background-color: #993;
    color: #FFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.bgFullImg {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.content {
    background-color: #333;
    min-width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
}

.skills,
.contact {
    background-color: #111;
}

p {
    line-height: 2;
}

ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
}

img {
    vertical-align: bottom;
}


/* ------------------------------
positioning (fixed, sticky)
------------------------------ */

.fixed {
    position: fixed;
    z-index: 100;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
}

/* ------------------------------
flexbox layout
------------------------------ */

.flex {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.works .flex {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flexCol {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

h2 {
    font-weight: 100;
    padding: 1rem;
    margin: 0;
    background-color: #FCA607BB;
    z-index: 10;
}

.container {
    width: 100%;
    max-width: 1024px;
    min-height: 80vh;
    padding: 4rem 0;
    margin: 0 auto;
}


.noWrap {
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/* ------------------------------------------------------------
unique parts
------------------------------------------------------------ */

/* ------------------------------
div.bgFullImg
------------------------------ */

.bgFullImg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bgFullImg a {
    text-decoration: none;
    font-size: 5rem;
    font-family: fantasy;
    color: #777;
    width: 100%;
    margin: 0;
    position: relative;
}

.bgFullImg a::before {
    content: "Ren H";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bgFullImg a i {
    position: absolute;
    top: 20vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 7rem;
    -webkit-animation: UpDown 0.5s linear infinite alternate;
    animation: UpDown 0.5s linear infinite alternate;
}

@-webkit-keyframes UpDown {
    100% {
        top: 22vh;
    }
}

@keyframes UpDown {
    100% {
        top: 22vh;
    }
}

.bgImg1 {
    background: url(../images/Above-the-Fold-Img.jpg) center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}

/* ------------------------------
a.toTop
------------------------------ */

.toTop {
    right: 1rem;
    bottom: 3rem;
    font-size: 1rem;
    color: #FFF;
    background: radial-gradient(#000, #FCA607);
    text-decoration: none;
    -webkit-box-shadow: 0 0 5px 0px #222;
    box-shadow: 0 0 5px 2px #222;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.3rem;
    /* 左端にはスペースが出来ない */
    border-radius: 50%;
    padding-top: 0.7rem;
    padding-left: 0.3rem;
    /* 左端letter-spacing: 0.3rem;の代わりに記述*/
    width: 5rem;
    height: 5rem;
    opacity: 0;
}

.toTop.show {
    -webkit-animation: fadeInUp 0.5s forwards;
    animation: fadeInUp 0.5s forwards;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.toTop.hide {
    -webkit-animation: fadeOutDown 0.5s forwards;
    animation: fadeOutDown 0.5s forwards;
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.toTop i {
    color: #FFF;
    font-size: 5rem;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 0.3rem;
}

/* ------------------------------
img.largeImg
------------------------------ */

.largeImg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 0;
    max-height: 0;
    -o-object-fit: contain;
    object-fit: contain;
    opacity: 0;
    z-index: 200;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.largeImg.active {
    max-width: 85%;
    max-height: 85vh;
    opacity: 1;
}

/* ------------------------------
div.overlay
------------------------------ */

.blurUnderOverlay {
    -webkit-transition: all 1s;
    transition: all 1s;
}
.blurUnderOverlay.active {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: #000C;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 180;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay.active {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.overlay i {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

/* ------------------------------------------------------------
gnav styling
------------------------------------------------------------ */

header .fixed {
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.gNav {
    background-color: #444;
    width: 100%;
    height: 4rem;
    -webkit-box-shadow: 0px 2px 2px 0px #222;
    box-shadow: 0px 2px 2px 0px #222;
    opacity: 0;
}

.gNav.show {
    -webkit-animation: fadeInDown 0.5s forwards;
    animation: fadeInDown 0.5s forwards;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.gNav.hide {
    -webkit-animation: fadeOutUp 0.5s forwards;
    animation: fadeOutUp 0.5s forwards;
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.gNav a {
    color: #FFF;
    text-decoration: none;
}


/* ------------------------------
nav item styling
------------------------------ */

.gNav li {
    margin: 0 1rem;
    padding: 0.3rem 1rem;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.gNav li:hover {
    background: #555;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 5px 0px #222;
    box-shadow: 0px 0px 5px 0px #222;
}


.gNav li::before {
    content: "";
    background: #666;
    -webkit-box-shadow: 1px 0px 1px 0px #222;
    box-shadow: 1px 0px 1px 0px #222;
    width: 1px;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: -1rem;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.gNav li:first-child::before {
    display: none;
}

.gNav li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0px;
    height: 0px;
    background: #999;
    -webkit-box-shadow: 0px 1px 1px 0px #222;
    box-shadow: 0px 1px 1px 0px #222;
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.gNav li:hover::after {
    width: 100%;
    height: 1px;
    opacity: 1;
}

/* ------------------------------
language change botton styling
------------------------------ */

#langChg {
    color: #FFF;
    background-color: #666;
    padding: 0.3rem;
    margin: 1rem 1rem 1rem auto;
    width: 8rem;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px #222;
    box-shadow: 0px 0px 5px 0px #222;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#langChg:hover {
    background: #555;
    border-radius: 1rem;
}

#langChgBtn {
    display: none;
}


/* ------------------------------------------------------------
main styling
------------------------------------------------------------ */

/* ------------------------------
about styling
------------------------------*/

.profileImg,
.profileDescription {
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    -o-flex: 1 0;
    -webkit-box-flex: 1;
    flex: 1 0;
    max-width: 512px;
}

.profileImg {
    min-width: 300px;
    max-width: 450px;
    margin: 15px;
    position: relative;
}

.profileImg img {
    display: inline-block;
    max-width: 100%;
    border-radius: 50%;
}

.balloon {
    font-family: fantasy;
    font-size: 2rem;
    color: #999;
    background: #FFF;
    width: auto;
    height: 4rem;
    padding: 1.2rem 1rem 1rem;
    border: 1px solid #FFF;
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: -10%;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg)
}

.balloon::after {
    content: "";
    border: 10px solid transparent;
    border-top: 20px solid #FFF;
    position: absolute;
    top: 100%;
    right: 20%;
}

.profileDescription {
    margin: 0 1rem;
}

#about p {
    text-align: justify;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    padding: 0.5rem;
}

.about p::first-letter {
    font-size: 2rem;
    float: left;
    padding: 0 1rem 0 0.5rem;
    background: -webkit-gradient(linear, left top, right top, from(#666), to(#333));
    background: linear-gradient(to right, #666, #333);
}


/* ------------------------------
skills styling
------------------------------ */

.skills ul {
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    justify-content: center;
}

.skills li {
    position: relative;
    width: 14rem;
    padding: auto;
    padding-bottom: 11rem;
    line-height: 2.5rem;
}

.skills .Lv {
    font-size: 1.5rem;
}

.skills .currentLv {
    font-size: 2.5rem;
    font-weight: bold;
}

.skills .maxLv {
    font-size: 0.5rem;
}

.skills .logo {
    font-size: 7rem;
}

.skills .logoImg {
    width: 7rem;
}

.skills .logo,
.skills .logoImg {
    display: block;
    position: absolute;
    top: 9rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}


/* ------------------------------
.webDev styling
------------------------------ */

.webDev .container {
    min-width: 320px;
    max-width: 512px;
    padding: 0;
}

.webDev a {
    min-width: 95%;
    max-height: 300px;
    margin: 0 1rem 60px;
    position: relative;
}

.flip {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* 子要素を3D空間上に配置する. 非継承プロパティ */
}

.flip:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip .off {
    background: #777;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* 要素裏面を不可視にする. 非継承プロパティ. 必要な要素全てに記述する. */
}

.flip .on {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    border: 1px solid #FFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* 要素裏面を不可視にする. 非継承プロパティ. 必要な要素全てに記述する. */
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip .on p {
    color: #FFF;
    font-size: 1.5rem;
}

.flip .on .title {
    font-size: 3rem;
    line-height: 3rem;
}

.flip .on .logo {
    font-size: 5rem;
}


.thumbnail {
    max-height: 300px;
}

.skillsFor {
    width: 100%;
    height: 4rem;
    background: #0007;
    /* = #00000077 = rgba(0, 0, 0, 0.5) */
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* 要素裏面を不可視にする. 非継承プロパティ. 必要な要素全てに記述する. */
}

.skillsFor .logo {
    font-size: 3rem;
    color: #FFF;
    margin: 0.5rem;
}

.skillsFor .logoImg {
    height: 3rem;
    display: inline-block;
    margin: 0.5rem;
    margin-left: 0;
    border-radius: 50%;
}

/* ------------------------------
.photo styling
------------------------------ */

.photo .container {
    min-width: 320px;
    max-width: 512px;
    padding: 0 1rem;
}

.gallery {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,
    minmax(100px, 1fr));
    grid-template-rows: repeat(26, 100px);
    grid-gap: 20px;
}

.grid .colSpan1 {
    grid-column: span 1;
}

.grid .colSpan2 {
    grid-column: span 2;
}

.grid .colSpan3 {
    grid-column: span 3;
}

.grid .rowSpan1 {
    grid-row: span 1;
}

.grid .rowSpan2 {
    grid-row: span 2;
}

.grid .rowSpan3 {
    grid-row: span 3;
}

.grid .rowSpan4 {
    grid-row: span 4;
}

.grid img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    /* 画像の短辺がボックスにフィットする */
}


/* ------------------------------
contact styling
------------------------------ */

.contact li {
    display: inline-block;
    margin: 10% 2rem;
    position: relative;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact li:hover {
    opacity: 1;
}

.contact a {
    color: #FFF;
    text-decoration: none;
}

.contact .logo {
    font-size: 7rem;
}

.facebook::after {
    content: "Facebook";
}

.twitter::after {
    content: "Twitter";
}

.instagram::after {
    content: "Instagram";
}

.github::after {
    content: "GitHub";
}

.facebook::after,
.twitter::after,
.instagram::after,
.github::after {
    text-decoration: underline;
    opacity: 0;
    position: absolute;
    top: 8rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.facebook:hover::after,
.twitter:hover::after,
.instagram:hover::after,
.github:hover::after {
    opacity: 1;
}


/* ------------------------------------------------------------
footer styling
------------------------------------------------------------ */

/* ------------------------------
copyright styling
------------------------------ */

.copyright {
    color: #AAA;
    background-color: #444;
    display: block;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
